
<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <header class="text-center">
        <h1>LOGO</h1>
      </header>
    </div><!-- /col-12 -->
  </div><!-- /row-->
  <div class="row ">
    <div class="col-12">
      <h1 class="text-uppercase">Formulário</h1>
    </div>
    <div class="col-12">
      <div class="row bg-label p-3 mb-3">
        <div class="col-6">
          <label class="text-uppercase">Dados Pessoais</label>
        </div>
        <div class="col-6">
          <label class="text-uppercase">Seu Ingresso</label>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-dados-pessoais></app-dados-pessoais>
      <app-dados-entrega></app-dados-entrega>
    </div><!-- /col-md-6-->
  </div><!-- /row-->
  <div class="row">
    <div class="col-6 d-flex justify-content-end">
      <button type="button" class="btn btn-primary text-uppercase pt-3 pb-3 pl-5 pr-5" (click)="submit()" >Enviar</button>
    </div>
  </div>
  <hr>
</div>
