/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

p {
  color: #808080;
}

.bg-label {
  background-color: #F4F4F4F4;
}

label {
  margin: 0;
}

.small-invalid {
  color: #dc3545;
}

.size-spinner {
  font-size: 12px;
  width: 1.5rem;
  height: 1.5rem;
}

.edit-loading p {
  font-size: 14px;
}

.font-w-600 {
  font-weight: 600;
}

.footer {
  background: #F4F4F4F4;
}
