<section class="row">
  <div class="col-md-3 col-sm-12">
    <img src="../../../../assets/images/logo.png" alt="OTECH" class="img-fluid img-sobre" >
    <p class="m-0">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis molestiae nesciunt nostrum.
    </p>
  </div> <!--col-md-3 col-sm-12-->
  <div class="col-md-3 col-sm-12">
    <h4 class="text-uppercase sobre-color">Sobre Nós</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Perfil</li>
      <li class="list-group-item">Sobre</li>
      <li class="list-group-item">Contato</li>
    </ul>
  </div> <!--col-md-3 col-sm-12-->
  <div class="col-md-3 col-sm-12">
   <h4 class="text-uppercase sobre-color">Redes Sociais</h4>
   <ul class="list-group list-group-flush">
    <li class="list-group-item">Twitter</li>
    <li class="list-group-item">Instagram</li>
    <li class="list-group-item">Likedin</li>
  </ul>
  </div> <!--col-md-3 col-sm-12-->
  <div class="col-md-3 col-sm-12">
    <h4 class="text-uppercase sobre-color">Contato</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-uppercase">Fac</li>
      <li class="list-group-item">Sitemap</li>
      <li class="list-group-item">Dúvidas</li>
    </ul>
  </div> <!--col-md-3 col-sm-12-->
</section>
