<h3 class="mt-5 mb-5">Dados da Entrega</h3>
<form [formGroup]="formDadosEntrega">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="cep" id="cep" placeholder="CEP">
      </div>
    </div><!-- /col-md-12-->
    <div class="col-md-12">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="endereco" id="endereco" placeholder="Endereço">
      </div>
    </div><!-- /col-md-12-->
    <div class="col-6">
      <ng-select [items]="pais"
          [selectOnTab]="true"
          bindValue="value"
          placeholder="País"
          formControlName="pais">
    </ng-select>
    </div><!-- /col-md-6-->
    <div class="col-6">
      <ng-select [items]="estados"
          [selectOnTab]="true"
          bindValue="value"
          placeholder="Estado"
          formControlName="estado">
        </ng-select>
    </div><!-- /col-md-6-->
    <div class="col-md-12 mt-3">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="cidade" id="cidade" placeholder="Cidade">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <input type="number" class="form-control" formControlName="telefone" id="telefone" placeholder="Telefone">
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end">
      <button class="btn btn-primary text-uppercase pt-3 pb-3 pl-5 pr-5">Enviar</button>
    </div>
  </div><!--  /row-->
</form>
